VITE_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69bd9a9000090f983d70

# 📧 EMAILJS CONFIGURATION
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=template_kptvko7
VITE_EMAILJS_PUBLIC_KEY=your_public_key

# 💳 PAYSTACK CONFIGURATION
VITE_PAYSTACK_PUBLIC_KEY=pk_test_your_public_key

# 🤗 HUGGING FACE CONFIGURATION
VITE_HF_TOKEN=hf_your_token_here
VITE_HF_REPO_ID=username/dataset-repo-id
